@use '/src/styles/variables' as *;

.form {
    max-width: 900px;
    margin-bottom: 4rem;
    margin-inline: $gap-def;
    
    @include res-min($breakpoint-m) {
        margin-inline: auto;
    }
}

.lblcont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap-m;
    margin-block: 1.5rem;
    
    @include res-min($breakpoint-m) {
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: $gap-l;
        
        div {
            text-align: start;
        }
    }
    
    input[type=number] {
        width: 100%;

        &:disabled {
            background-color: $secondary-color;
            color: $secondary-color;
            border-color: $primary-color;
        }
    }

    label {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap-m;;
        line-height: 1.2;
        
        @include res-min($breakpoint-m) {
            grid-template-columns: 1fr 1fr;
            gap: $gap-l;
            
        }

        div {
            display: flex;
            gap: $gap-m;
            justify-content: flex-end;
            align-items: center;
        }
    }

}