$primary-color: rgb(89, 73, 84);
$secondary-color: rgb(74, 64, 71);
$dark: rgb(43, 43, 43);
$light: rgb(235, 235, 235);
$pale: rgb(117, 99, 112);
$red: rgb(234, 83, 83);

$reddish: rgb(187, 122, 122);
$bluish: rgb(122, 122, 187);
$greenish: rgb(111, 165, 129);
$yellowish: rgb(165, 119, 111);

$border-radius: 7px;

$breakpoint-s: 450px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1700px;

$gap-def: 0.5rem;
$gap-m: 1rem;
$gap-l: 2rem;
$gap-xxl: 1vw;

@mixin res-min($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}