@use '/src/styles/variables' as *;

.header {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
    justify-content: center;
    gap: $gap-m;
}

.empty {
    text-align: center;
    margin-block: $gap-m;
}