@use '/src/styles/variables' as *;

.form {
    margin-bottom: 1.5rem;
    width: fit-content;
    color: white;

    label {
        line-height: 2;
    }

    button {
        margin: $gap-def;
    }
}

.err {
    line-height: 1.2rem;
    height: 1.2rem;
    margin-block: $gap-def;
    font-size: 0.85rem;
    color: rgb(234, 83, 83);
    text-align: center;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: $gap-m;

    input {
        width: 100%;
        background-color: $pale;
        color: white;
    }
}

.prefs, .cont {
    margin-block: $gap-def;
}

.checkboxes {
    background-color: $pale;
    padding: $gap-def 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 100px));
    justify-content: center;
}

.chbxcont {
    font-size: 0.8rem;
    input {
        margin-inline: 4px;
    }
}

.btncont {
    margin-top: $gap-m;
}