@use '/src/styles/variables' as *;

.squad {
    background-color: $secondary-color;
}

.header {
    display: flex;
    align-items: center;
    span {
        flex-grow: 1;
        text-align: end;
    }
}

.info {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    text-align: center;

    > div:nth-child(odd) {
        border-right: 1px solid $primary-color;
    }

    div {
        padding-block: $gap-def;
    }

    button {
        grid-column: 1/3;
        margin-block: $gap-m;
    }
}

.note {
    font-size: 0.85em;
    color: $pale;
    border-bottom: 1px solid $primary-color;
}