@use '/src/styles/variables' as *;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 280px));
    justify-content: center;

    @include res-min($breakpoint-m) {
        gap: $gap-m;
    }
}

.new {
    color: $pale;
}