@use '../../styles/variables' as *;

.form {
    text-align: center;

    label {
        line-height: 2;
    }

    input {
        background-color: $primary-hover;
    }

    p {
        margin-block: $gap-def;
    }
}

.err {
    line-height: 1.2rem;
    height: 1.2rem;
    margin-block: $gap-def;
    font-size: 0.85rem;
    color: $red;
    text-align: center;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: $gap-m;
    margin-block: $gap-def;

    input {
        width: 100%;
    }
}

.invalid {
    border: 1px solid $red;
}