@use '/src/styles/variables' as *;

.spoiler {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: $light;
    border-radius: $border-radius;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    border-radius: $border-radius;

    > :first-child {
        flex-grow: 1;
    }

    &::after {
        content: '⌄';
        margin-left: $gap-def;
        transition: transform .2s ease-in-out;
    }


    &.open {
        border-radius: 0;
        &::after {
            transform: rotate(-180deg);
        }
    }

    @media (pointer: fine) {
        &:hover {
            background-color: $pale;
        }
    }
}

.body {
    height: 0px;
    overflow: auto;
}

.inner {
    padding: $gap-m $gap-l;
    text-align: center;    
    height: 100%;
}